node_modules/
.next/
out/
build/
*.log
.env
.env.local
.env*.local
.DS_Store
coverage/
public/sw.js
public/workbox-*.js
public/worker-*.js
public/sw.js.map
public/workbox-*.js.map
public/worker-*.js.map
public/fallback-*.js
next-env.d.ts
